<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head.ejs"); -%>
    </head>
    
    <body>
 
        <div class="wrapper border">
            <header> 
                <h1>Chatroom</h1>
                <%- include("./partials/header.ejs", {pages: pages}); %>   
            </header>
        
            <main class="border">
                <% messages.map((message) => { %>
                    <div class="card border">
                        <h2 class="username"> <%= message.username %> </h2>
                        <hr />
                        <p class="message"> <%= message.message %> </p>
                        <hr />
                        <p class="date"><%= message.date %> </p>
                    </div>
                <% }) %>
            </main>
            <footer>
                <%- include("./partials/footer", {links: links}) %>
                <img src="./imgs/MessageBoardLogo_1.svg" alt="">
            </footer>
        </div>
    </body>

</html>