<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head.ejs"); %>
    </head>
    
    <body>
        <div class="wrapper border">
            <header>
                <h1>New Message</h1>
                <%- include("./partials/header.ejs"); %>
            </header>
            <main class="border new">
                    <%- include("./partials/error.ejs"); %>
                
                <div class="card border form">
                    <form method="POST" action="/new">
                        <div class="formWrapper">
                        <div class="form-row">
                            <label for="username">Username:</label>
                                <input type="text" id="username" name="username" value="<%= username ? username : ""%>">
                            
                        </div>
                        <div class="form-row">
                            <label for="message">Message: </label>
                                <textarea type="text" id="message" name="message" placeholder="Enter your message..."><%= message ? message : ""%></textarea>
                        </div>
                        <div class="button-area">
                            <button type="submit" class="button border submit">Submit</button>
                        </div>
                        </div>
                    </form>
                </div>
                
            </main>
            <footer>
                <%- include("./partials/footer.ejs", { links: links }); %>
                <img src="./imgs/MessageBoardLogo_1.svg" alt="">
            </footer>
        </div>
    </body>
</html>